
        <MudPaper Elevation="0" Class="d-flex justify-center flex-grow-1 gap-4 ml-6 pl-16 mt-2 pt-2 mb-7 pb-7">
            <MudPaper Elevation="0"  Style="margin-right:280px">
                <MudGrid Class="align-center">
                <MudItem  >
                        <MudPaper Outlined="true" Elevation="0">
                    <MudDatePicker PickerVariant="PickerVariant.Dialog" T="DateTime" Label="Date" @bind-date="dateValue" />
                    </MudPaper>
                </MudItem>
                <MudItem >
                    <MudPaper>
                        <MudButton Variant="Variant.Filled" OnClick="@IncrementDate" Color="Color.Primary">+</MudButton>
        </MudPaper>
                </MudItem>
                <MudItem >
                    <MudPaper >
                        <MudButton Variant="Variant.Filled" OnClick="@DecrementDate" Color="Color.Primary">-</MudButton>
    </MudPaper>
                </MudItem>
                <MudItem >
                    <MudItem xs="12">
                            <MudPaper Elevation="0" Height="150px" Width="250px" Outlined="true">
                        @foreach(var d in dates)
                        {
                            <DateComponent Date="@d.ToIsoDateString()" Selected="@selectedItem" SelectedChanged="RowClicked"></DateComponent>
                        }
                        </MudPaper>
                    </MudItem>
                </MudItem>
            </MudGrid>
        </MudPaper>
        </MudPaper>

<MudPaper Elevation="0" Class="pa-4 ma-4" Style="user-select: none;">
    
    <MudContainer>
        <MudGrid Spacing="0" >
            <MudItem Class="mr-10">
                <MudPaper xs="6" Elevation="0" hidden></MudPaper>
            </MudItem>
            @for (int i = 0; i <= 24; i++)
            {
                TimeSpan timeSpan = new TimeSpan((i == 24 ? 23 : i), (i == 24 ? 59 : 00), 00);
                <Minute Number="i"
                        Idx="@timeSpan"
                        OnMouseDown="HandleMouseDown"
                        OnMouseEnter="HandleMouseEnter"
                        OnMouseUp="HandleMouseUp"
                        IsSelected=@_selections[timeSpan]
                        SwitchTimeFormat="SwitchTimeFormat"></Minute>
                @if (i < 24)
                {
                    for (int j = 1; j < 4; j++)
                    {
                        timeSpan = new TimeSpan(i, Minutes(j), 00);
                        <Minute Idx="@timeSpan"
                                OnMouseDown="HandleMouseDown"
                                OnMouseEnter="HandleMouseEnter"
                                OnMouseUp="HandleMouseUp"
                                IsSelected=@_selections[timeSpan]
                                SwitchTimeFormat="SwitchTimeFormat"></Minute>
                    }
                }
            }
        </MudGrid>
        <MudGrid Class="align-end">
            
            <MudItem xs="7">
                <div>@DateTimeStr</div>
            </MudItem>

        </MudGrid>
    </MudContainer>
</MudPaper>


                                @using System.Net.Http.Json
@using MudBlazor.Extensions





