<MudItem Class="mp-1048">
    <MudPaper Tag="Idx" Square Style="@GetStyle()"  Height="20px" @onmousedown="HandleMouseDown"
              @onmouseenter="HandleMouseEnter"
              @onmouseup="HandleMouseUp">
              
        @if (SwitchTimeFormat)
        {
            <div class="@GetClassLine()"></div>
        }
        <div class="@GetClass()">

        @if(Number is not null)
            {
                <span class="@GetNumberClass()">@GetNumber</span>
            }
        </div>
        @if (SwitchTimeFormat)
        {
            <div class="ampm">@GetAmPm()</div>

        }

    </MudPaper>
</MudItem>
