<MudPaper Elevation="4" Class="pa-16 ma-4">
    <MudContainer>
        <MudGrid Spacing="0" Justify="Justify.FlexStart" xs="12" Style=" margin:10px; padding:10px;">
                <MudItem Class="mr-8">
                    <MudPaper xs="4" Elevation="0" >
                        <MudText>Sun.</MudText>
                    </MudPaper>
                </MudItem>
            @for (int i = 0; i <= 24; i++)
            {

                <Minute Position="@(TicLargePosition(i))"
                              Number="@(i)"
                              Idx="@($"{i}:00")"
                              OnMouseDown="HandleMouseDown"
                              OnMouseEnter="HandleMouseEnter"
                              OnMouseUp="HandleMouseUp"
                              IsSelected=@ScheduleExist($"{i}:00")></Minute>
                @if (i < 24)
                {
                    for (int j = 1; j < 4; j++)
                    {
                        <Minute Position="@(TicPosition(i, j))"
                                      Idx="@($"{i}:{Minutes(j)}")"
                                      OnMouseDown="HandleMouseDown"
                                      OnMouseEnter="HandleMouseEnter"
                                      OnMouseUp="HandleMouseUp"
                                      IsSelected=@ScheduleExist($"{i}:{Minutes(j)}")></Minute>
                    }
                }
            }
            </MudGrid>
        <MudGrid Class="align-end">
            <MudItem>
                <MudButton Variant="Variant.Filled" OnClick="(e) => _switchTimeFormat = !_switchTimeFormat" Color="Color.Primary">@(_switchTimeFormat ? "AM/PM" : "24hr")</MudButton>

            </MudItem>
            <MudItem xs="8">
                <div>@DateTimeStr</div>
            </MudItem>
            <MudItem>
                <MudPaper Outlined="true">
                    <MudButton Variant="Variant.Outlined" Color="Color.Dark" DisableElevation="true" OnClick="@ToggleOpen">Manual Input</MudButton>
                    <MudPopover Open="_isOpen" OverflowBehavior="OverflowBehavior.FlipAlways" AnchorOrigin="Origin.BottomCenter" TransformOrigin="Origin.TopCenter" Paper="false">
                        <MudPaper Outlined="true" Class="px-2 py-6">
                            <div class="d-flex align-end justify-space-between ">
                                <MudTextField @bind-Value="TextValue" Style="height:40px;width:60px;" Variant="Variant.Outlined"></MudTextField>
                                <MudTextField @bind-Value="TextValue" Style="height:40px;width:60px;" Variant="Variant.Outlined"></MudTextField>
                                <MudButton Variant="Variant.Outlined" Style="height:40px;width:60px;">Ok</MudButton>
                            </div>
                        </MudPaper>
                    </MudPopover>
                </MudPaper>
            </MudItem>
            </MudGrid>
    </MudContainer>
</MudPaper>